<div class="container">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/index']" routerLinkActive="router-link-active">Inicio</a>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/conferencista']" routerLinkActive="router-link-active">Conferencistas</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/presentacionConferencia']" [queryParams]="{documento_identificacion:idCed}" routerLinkActive="router-link-active" skipLocationChange=true>Presentaciones</a></li>
                <li class="breadcrumb-item active" aria-current="page">Conferencias</li>
            </ol>
        </nav>
    </div>
    <div class="row justify-content-center text-center">
        <div class=" col-sm-12 col-md-8 ">

            <table class="table table-bordered ">
                <tr>
                    <td>
                        <img src="/assets/img/calendar.png" alt="calendar">
                        <span style="padding-right: 20px"></span> {{ presentacion.f_h_inicio | date:'longDate' }}</td>
                    <td>
                        <img src="/assets/img/cronometro.png" alt="hora">
                        <span style="padding-right: 20px"></span>{{(presentacion.f_h_inicio | date:'hh:mm') + ' - ' + (presentacion.f_h_fin | date:'HH:mm') }}</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <h5><strong>{{presentacion.titulo}}</strong></h5>
    </div>
    <div class="row text-justify">
        <h5>{{presentacion.descripcion}}</h5>
    </div>
    <div class="row">
        <h5><strong>
                Expositor:
        </strong></h5>
        <h5 style="padding-left: 20px">
            {{presentacion.expositor}}
        </h5>
    </div>
    <div class="row">
        <h5><strong>
                    Auditorio:
            </strong></h5>
        <h5 style="padding-left: 20px">
            {{presentacion.nombre}}
        </h5>
    </div>
    <div class="row">
        <h5><strong>
                        Lugar:
                </strong></h5>
        <h5 style="padding-left: 20px">
            {{presentacion.ubicacion}}
        </h5>
    </div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>