@media (min-width: 0px) and (max-width: 768px) {
    h5,
    p {
        font-size: 75%;
    }
    small {
        font-size: 60%;
    }
    img {
        width: 25%;
    }
}

.espacio {
    padding-top: 20px;
}