<div class="container-fluid">

    <div class="card center" style="text-align: center">
        <button type="button" class="btn btn-primary-outline pull-right card-img-top ">
            <img id="imagen1" src="assets/img/campana.png" class="img-fluid img-thumbnail" alt="Responsive image"
                width="50%">
            <div class="card-body">
                <h5 class="card-title">imagen1</h5>
            </div>
        </button>
    </div>
    <div class="card center" style="text-align: center">
        <button type="button" class="btn btn-primary-outline pull-right card-img-top ">
            <img src="assets/img/facultad.png" class="img-fluid img-thumbnail" alt="Responsive image" width="50%">
            <div class="card-body">
                <h5 class="card-title">imagen2</h5>
            </div>
        </button>
    </div>
    <div class="card center" style="text-align: center">
        <button type="button" class="btn btn-primary-outline pull-right card-img-top ">
            <img src="assets/img/servicio-al-cliente.png" class="img-fluid img-thumbnail" alt="Responsive image"
                width="50%">
            <div class="card-body">
                <h5 class="card-title">imagen3</h5>
            </div>
        </button>
    </div>
</div>