<header>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="col-6" style="text-align: left">
            <a class="navbar-brand" routerLink="/index">
                <img src="assets/img/facultad.png" class="img-fluid" alt="Responsive image">
            </a>
        </div>
        <div class="col-6" style="text-align: right;">
            <img src="assets/img/csei.png" class="img-fluid" alt="Responsive image" width="50%">
        </div>
        <hr />
    </nav>
</header>