<div class="container espacio">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/index']" routerLinkActive="router-link-active">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/conferencista']" routerLinkActive="router-link-active">Conferencistas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Presentacion Conferencias</li>
        </ol>
    </nav>
    <table class="table table-hover table-bordered">
        <thead style="display: none">
            <tr>
                <th scope="col" style="width: 15%">#</th>
                <th scope="col">First</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="table-secondary text-center" style="width: 15%">1 <br/>we
                </th>
                <td>
                    <strong><h5 class="mb-1">werewr</h5></strong>
                    <div class="d-flex w-100 justify-content-between">
                        <small class="mb-1">wed</small>
                        <small>xxx</small>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <form #registrerForm="ngForm" class="espacio">
        <div class="spinner-border text-secondary spinner-border-lg center" style="width: 5rem; height: 5rem;" role="status" *ngIf="!conferencistas">
            <span class="sr-only">Cargando...</span>
        </div>
        <div class="col-md-12" *ngIf="conferencistas">
            <div class="row justify-content-center" *ngFor="let conf of conferencistas">
                <div class="col-md-10">
                    <div class="list-group">
                        <a [routerLink]="['/conferencista']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action">
                            <div class="media">
                                <li>
                                    <ul scope="row" class="table-secondary text-center" style="width: 15%">1 <br/>we
                                    </ul>
                                    <ul>
                                        <strong><h5 class="mb-1">werewr</h5></strong>
                                        <div class="d-flex w-100 justify-content-between">
                                            <small class="mb-1">wed</small>
                                            <small>xxx</small>
                                        </div>
                                    </ul>
                                </li>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>