<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/index']" routerLinkActive="router-link-active">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Informacion</li>
        </ol>
    </nav>
</div>

<h1 style="text-align:center">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div>
    .
</div>
<div style="text-align: center">

        <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                            <h5> <b>TELEFONO</b> (03)-3700090 ext. 83518</h5>
                    </ol>
                </nav>
</div>

<div style="text-align: center">

        <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                            <h5> <b>CORREO ELECTRONICO:</b> csei@uta.edu.ec</h5>
                    </ol>
                </nav>
</div>

<div style="text-align: center">

        <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                            <h5> <b>WEB:</b>https://csei.uta.edu.ec</h5>
                    </ol>
                </nav>
</div>

<div style="text-align: center">

        <div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                            <h5>Para mas informacion consulte nuestros documentos    **</h5>
                            <a href="../../assets/archivos/archico1.pdf" download="Congreso" style="text-align: center">
                                Descargar Archivo 
                                </a>
                                <h5>   **</h5>
                    </ol>
                </nav>
        </div>
</div>