<div class="container-fluid">
    <div class="card-columns espacio">
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img id="imagen1" src="assets/img/calendario.png" class="img-fluid img-thumbnail" alt="Responsive image"
                    width="50%">
                <div class="card-body">
                    <h5 class="card-title">Agenda</h5>
                </div>
            </button>
        </div>
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img src="assets/img/politico.png" class="img-fluid img-thumbnail" alt="Responsive image" width="50%">
                <div class="card-body">
                    <h5 class="card-title">Conferencistas</h5>
                </div>
            </button>
        </div>
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img src="assets/img/campana.png" class="img-fluid img-thumbnail" alt="Responsive image" width="50%">
                <div class="card-body">
                    <h5 class="card-title">Notificaciones</h5>
                </div>
            </button>
        </div>
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img src="assets/img/servicio-al-cliente.png" class="img-fluid img-thumbnail" alt="Responsive image"
                    width="50%">
                <div class="card-body">
                    <h5 class="card-title">Informacion</h5>
                </div>
            </button>
        </div>
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img src="assets/img/apreton-de-manos.png" class="img-fluid img-thumbnail" alt="Responsive image"
                    width="50%">
                <div class="card-body">
                    <h5 class="card-title">Auspiciantes</h5>
                </div>
            </button>
        </div>
        <div class="card center" style="text-align: center">
            <button type="button" class="btn btn-primary-outline pull-right card-img-top " (click)="btnClick();">
                <img src="assets/img/galeria.png" class="img-fluid img-thumbnail" alt="Responsive image" width="50%">
                <div class="card-body">
                    <h5 class="card-title">Galeria</h5>
                </div>
            </button>
        </div>
    </div>
</div>